:root { 
  --gallery: #f0f0f0;
  --log-cabin: #222222;
  --white: #ffffff;
 
  --font-size-l: 29px;
  --font-size-m: 27px;
  --font-size-s: 22px;
  --font-size-xl: 30px;
  --font-size-xs: 21px;
  --font-size-xxl: 54px;
  --font-size-xxs: 11px;
 
  --font-family-open_sans: "Open Sans", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
.opensans-normal-log-cabin-27px {
  color: var(--log-cabin);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-log-cabin-22px {
  color: var(--log-cabin);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.opensans-normal-white-11px {
  color: var(--white);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.opensans-normal-log-cabin-21px {
  color: var(--log-cabin);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
